/common/
/node_modules

fs.txt
app.code-workspace

.bashrc
**/.npmrc

.vscode
stateinfo.txt
TODO.txt
docker-compose.yml
kind-config.y*ml
infra/k8s/**/secret
buildall.sh
infra/k8s/**/cert-manager
**/.http